* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 35%;
  margin: auto;
  height: 530px;
  display: flex;
  border: 8px groove rgba(28, 110, 164, 0.78);
  border-radius: 14px 14px 14px 14px;
  justify-content: center;
  margin-top: 70px;
  flex-direction: column;
  align-items: center;
  background-color: #aaaaaa;
}
.first-row {
  display: flex;
  width: 95%;
  height: 100px;
  border: 5px groove #1c6ea4;
  border-radius: 0px 14px 14px 0px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5px;
  padding-right: 5px;
}
.second-row {
  display: flex;
  width: 95%;
  justify-content: space-between;
}
.second-row-element {
  width: 48%;
  height: 60px;
  border: 5px groove #1c6ea4;
  border-radius: 0px 14px 14px 0px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 2rem;
  background-color: #f6f6f6;
  cursor: pointer;
  color: #454545;
  overflow: hidden;
}
.third-row,
.fourth-row,
.fifth-row,
.sixth-row {
  display: flex;
  width: 95%;
  justify-content: space-between;
}
.third-row-element,
.fourth-row-element,
.fifth-row-element,
.sixth-row-element {
  width: 21%;
  height: 70px;
  border: 5px groove #1c6ea4;
  border-radius: 0px 14px 14px 0px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 2rem;
  background-color: #f6f6f6;
  cursor: pointer;
  color: #454545;
}
.first-row-element,
.first-row {
  font-size: 2rem;
  font-weight: 900;
  background-color: #f6f6f6;
  color: #454545;
}
body {
  background: #ce5937;
  background: -moz-linear-gradient(
    -45deg,
    #ce5937 0%,
    #1c6ea4 53%,
    #c59237 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #ce5937 0%,
    #1c6ea4 53%,
    #c59237 100%
  );
  background: linear-gradient(135deg, #ce5937 0%, #1c6ea4 53%, #c59237 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
footer {
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-style: italic;
  margin-top: auto;
  font-size: 1rem;
  background-color: #aaaaaa;
  padding: 15px;
  color: #454545;
}
.effacer {
  background-color: #ffaaaa;
}
.supprimer {
  background-color: cornflowerblue;
}
